@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore;
@using System.Linq;
@using SimpleBankSystem.Data.Identity;


@inject SignInManager<User> SignInManager
@inject UserManager UserManager

@if (SignInManager.IsSignedIn(User))
{
    var userId = UserManager.GetUserId(User);
    var currentUser = await UserManager.Users
                                        .Include(u => u.DebitTransactions)
                                        .Include(u => u.CreditTransactions)
                                        .FirstAsync(u => u.Id == userId);

    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Account" asp-action="Transactions">
                    <div>Hello @UserManager.GetUserName(User)!</div>
                    <div>Balance: @currentUser.Balance.ToString("N2")</div>
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}